
body {
  background: #000; 
  color: white; 
}

.App {
  background: #000; 
  text-align: center;
}
.nav-link {
  color: white;
}
.signup-link {
  color: blue;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
