/* Background for the Sign Page */
.sign-page {
  min-height: 100vh; /* Ensure it takes at least the full viewport height but grows with content */
  width: 100%;
  background-image: url('../wave.svg'),
    radial-gradient(
      circle at center,
      rgba(187, 216, 239, 0.7) 0%,
      rgba(147, 171, 198, 0.85) 11%,
      rgba(106, 125, 157, 1) 25%,
      rgba(24, 34, 75, 1) 45%,
      rgba(0, 0, 0, 1) 70%
    );
  background-repeat: no-repeat, no-repeat;
  background-size: cover; /* Ensure the background scales to cover the entire container */
  background-position: top left, center;
  background-blend-mode: screen;
  filter: brightness(1.1) contrast(1.0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 20px;
}
/* Video Container */
.video-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Webcam Styling */
.webcam {
  width: 640px; /* Ensure consistent width */
  height: 480px; /* Ensure consistent height */
  border: 5px solid white; /* Add a white border */
  border-radius: 10px; /* Optional: Add rounded corners */
  box-sizing: border-box; /* Ensure the border is included in the element's dimensions */
  object-fit: cover; /* Ensure the video or canvas content fits within the element */
}

/* Buttons */
.go-back-button,
.next-level-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.go-back-button:hover,
.next-level-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

/* "Go Back to Tutorial" Button */
.grid-tutorial button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.grid-tutorial button:hover {
  background-color: #1e7e34;
  transform: scale(1.1);
}

/* Grey Square Container */
.text-container {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent grey background */
  padding: 20px 40px; /* Add padding for spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for depth */
  text-align: center; /* Center-align the text */
  margin-bottom: 20px; /* Add spacing below the container */
  color: white; /* Ensure text is white for readability */
}